@if (toy()) {
<div class="toy-container">
  <mat-card class="details-card">
    <mat-card-content>
      <img [src]="utils.getToyImage(toy())" [alt]="toy()?.name" class="details-img">
    </mat-card-content>
  </mat-card>
  <mat-card class="details-card">
    <mat-card-content>
      <h1>{{ toy()?.name }}</h1>
      <mat-list>
          <mat-list-item>
            <mat-icon matListItemIcon>videogame_asset</mat-icon>
            <div matListItemTitle>Opis igračke: </div>
            <div matListItemLine> {{ toy()?.description }}</div>
          </mat-list-item> 
           <mat-list-item>
            <mat-icon matListItemIcon>sports_esports</mat-icon>
            <div matListItemTitle>Tip igračke: </div>
            <div matListItemLine> {{ toy()?.type?.name }}</div>
          </mat-list-item> 
          <mat-list-item>
            <mat-icon matListItemIcon>child_care</mat-icon>
            <div matListItemTitle>Uzrast:</div>
            <div matListItemLine>{{ toy()?.ageGroup?.name }}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>savings</mat-icon>
            <div matListItemTitle>Cena: </div>
            <div matListItemLine>{{ toy()?.price }} RSD</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>girl</mat-icon>
            <div matListItemTitle>Ciljna grupa:</div>
            <div matListItemLine>{{ toy()?.targetGroup }}</div>
          </mat-list-item>
             <mat-list-item>
            <mat-icon matListItemIcon>calendar_month</mat-icon>
            <div matListItemTitle>Datum proizvodnje: </div>
            <div matListItemLine>{{ utils.formatDate(toy()!.productionDate) }}</div>
          </mat-list-item> 
      </mat-list>
    </mat-card-content>
    @if ((authService.getActiveUser())) {
    <mat-card-actions>
   

           <a [routerLink]="['/cart', toy()?.toyId]" mat-button>
            <mat-icon fontIcon="add_shopping_cart"/>Kupi</a>
          
          </mat-card-actions>
          }
  </mat-card>

      @if (toy()?.status) {
        <li><strong>Status:</strong> <span class="status-badge">{{ toy()?.status }}</span></li>
      }

      @if (toy()?.userReview) {
        <li class="review-box">
          <strong>Recenzija korisnika:</strong>
          <p><em>"{{ toy()?.userReview }}"</em></p>
        </li>
      }
   
</div>

} @else {
  <p>Učitavanje podataka o igrački...</p>
}